{% extends 'core/landing/admin.html' %}

{% block pageContents %}

    <div class="jumbotron text-center">
        <h2>
            Logs
        </h2>
    </div>
    {% for log in logs %}

        <!-- Change column sizes to avoid unnecessary blank space -->
    <div class="row top_buffer">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h2>
                Date :  {{log.time}}
            </h2>
            <p>
                User Involved : {{log.user}}
            </p>
            <p>
                Log Type : {{log.type}}
            </p>
        </div>
        <div class="col-md-1">
        </div>
    </div>

    {% endfor %}


{% endblock %}